---
import Layout from '../layouts/Layout.astro'
import {CountriesByContinent} from '@data/countries/Countries3'
import '../pico.css'
const decimalFormatter = new Intl.NumberFormat('en-US')
---

<Layout title="Calculator">
  {
    Object.keys(CountriesByContinent).map((continent, index) => {
      return (
        <article>
          <h1 data-index={index + 1}>{continent}</h1>
          <section>
            {CountriesByContinent[continent].map(
              ({name, capital, population, flag, lat, lng}, index) => {
                const pop = decimalFormatter.format(population)
                const ll = `https://maps.apple.com/?ll=${lat},${lng}`
                return (
                  <section>
                    <div class="flag">{flag}</div>
                    <main>
                      <div class="country">{name}</div>
                      <div class="capital">
                        <a href={ll}>{capital}</a>
                      </div>
                      <div class="population">{pop}</div>
                    </main>
                  </section>
                )
              }
            )}
          </section>
        </article>
      )
    })
  }
</Layout>

<style>
  html,
  body {
    background-color: white;
  }

  article {
    /* page-break-after: always; */
    /* page-break-inside: avoid; */
    box-shadow: none;
  }

  article > section {
    /* page-break-inside: avoid; */
  }

  article section section {
    display: flex;
    align-items: center;
    position: relative;
  }

  article section div.country {
    font-weight: 900;
    font-size: 14px;
  }
  article section div.capital {
  }
  article section div.capital a {
    color: darkblue;
  }

  article section div:before {
    display: inline-block;
    font-size: 70%;
    opacity: 0.5;
    width: 2.5em;
  }

  article section div.country:before {
  }
  article section div.capital:before {
    content: 'cap: ';
  }
  article section div.population:before {
    content: 'pop: ';
  }
  article section div.population {
  }

  article h1::before {
    content: attr(data-index);
    display: inline-block;
    padding-right: 1rem;
    font-size: 80%;
    opacity: 0.6;
  }

  article section div.flag {
    content: attr(data-flag);
    display: inline-block;
    font-size: 100px;
    padding-right: 1rem;
    line-height: 2rem;
  }

  article section {
    column-count: 2;
  }
</style>
