---
import Empty from '../layouts/Empty.astro'
import '../components/wc-dialog.css'
import '../core/girls/girls.css'
import '../../pico.css'
import WCFloatingLabel from '../components/WCFloatingLabel.astro'
import {girls_names} from '@/data/girls_names'
import {
  behavior_choices,
  ways_to_get_caught,
  behavior_score,
  best_behavior_score,
  max_behavior_score,
  style_score,
  style_score_default,
  randomFromArray,
} from '@/data/bad_stuff'
import Menu3 from '@/components/menu.astro'
import '../components/wc-texarea-sizer'
---

<Empty title="girls">
  <Menu3 />
  <main>
    <header>
      <h1>Person names</h1>
    </header>
    <p>
      Behavior Number Day uses {max_behavior_score} numbers. The longest
      YouTube slideshow goes through each one, and {best_behavior_score} is the
      best school behavior score.
    </p>
    <div id="filters" class="group">
      <input type="search" name="name_filter" placeholder="Filter names" />
      <input type="hidden" value="1000" name="limit" />
    </div>
    <div id="girls">
      {girls_names.map(name => <button>{name}</button>)}
    </div>
  </main>
  <wc-dialog-wrap>
    <dialog id="d_story">
      <details open>
        <summary>Generate story</summary>
        <form id="generate_story">
          <div class="grid">
            <WCFloatingLabel addclear="1">
              <label>person name</label>
              <input
                list="girls_list"
                name="person_name"
                value={randomFromArray(girls_names)}
              />
              <datalist id="girls_list">
                {girls_names.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label>choice</label>
              <input
                list="choices"
                name="choice"
                value={randomFromArray(behavior_choices)}
                placeholder="What did they do?"
              />
              <datalist id="choices">
                {behavior_choices.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>
          </div>

          <div class="grid">
            <WCFloatingLabel addclear="1">
              <label>how good</label>
              <input
                list="style_scores"
                name="style_score"
                placeholder="Pick how good it is (10 is best)"
                value={style_score_default}
              />
              <datalist id="style_scores">
                {style_score.map(v => <option value={v} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label>behavior score</label>
              <input
                list="behavior_scores"
                name="behavior_score"
                placeholder="Pick a school behavior score (1000 is best)"
                value={best_behavior_score}
              />
              <datalist id="behavior_scores">
                {behavior_score.map(v => <option value={v} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label>what happened next</label>
              <input
                list="got_caught"
                name="what_happened"
                placeholder="What happened next?"
                value={randomFromArray(ways_to_get_caught)}
              />
              <datalist id="got_caught">
                {ways_to_get_caught.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>
          </div>
          <footer>
            <button type="submit" class="outline secondary"
              >Generate main story</button
            >
          </footer>
        </form>
      </details>
      <form id="speak">
        <details open>
          <summary>main story</summary>
          <wc-textarea-sizer data-min="20" data-max="500">
            <textarea rows="9" name="text" rows="4"></textarea>
          </wc-textarea-sizer>
        </details>
        <footer>
          <button type="button" class="outline close-dialog">close</button>
          <button type="reset" class="outline">reset</button>
          <button type="submit" id="speak_selection" class="">Speak</button>
        </footer>
      </form>
    </dialog>
  </wc-dialog-wrap>
</Empty>
<script src="../core/girls/index.ts"></script>
<script src="../components/wc-dialog-wrap.ts"></script>
