---
import Empty from '../layouts/Empty.astro'
import '../components/wc-dialog.css'
import '../core/girls/girls.css'
import '../../pico.css'
import WCFloatingLabel from '../components/WCFloatingLabel.astro'
import {girls_names} from '@/data/girls_names'
import {
  bad_stuff,
  ways_to_get_caught,
  behavior_cards,
  behavior_score,
  randomFromArray,
} from '@/data/bad_stuff'
import Menu3 from '@/components/menu.astro'
import '../components/wc-texarea-sizer'
---

<Empty title="girls">
  <Menu3 />
  <main>
    <header>
      <h1>Girl names</h1>
    </header>
    <div id="filters" class="group">
      <input type="search" name="name_filter" placeholder="Filter names" />
      <input type="hidden" value="1000" name="limit" />
    </div>
    <div id="girls">
      {girls_names.map(name => <button>{name}</button>)}
    </div>
  </main>
  <wc-dialog-wrap>
    <dialog id="d_story">
      <details open>
        <summary>Generate story</summary>
        <form id="generate_story">
          <div class="grid">
            <WCFloatingLabel addclear="1">
              <label>girls name</label>
              <input
                list="girls_list"
                name="girl"
                value={randomFromArray(girls_names)}
              />
              <datalist id="girls_list">
                {girls_names.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label>bad thing</label>
              <input
                list="bad_things"
                name="bad_thing"
                value={randomFromArray(bad_stuff)}
                placeholder="What did she do?"
              />
              <datalist id="bad_things">
                {bad_stuff.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>
          </div>

          <div class="grid">
            <WCFloatingLabel addclear="1">
              <label>behavior score</label>
              <input
                list="behavior_scores"
                name="behavior_score"
                placeholder="pick a score of behavior"
                value={randomFromArray(behavior_score)}
              />
              <datalist id="behavior_scores">
                {behavior_score.map(v => <option value={v} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label>how she got caught</label>
              <input
                list="got_caught"
                name="got_caught"
                placeholder="How did she get caught?"
                value={randomFromArray(ways_to_get_caught)}
              />
              <datalist id="got_caught">
                {ways_to_get_caught.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>

            <WCFloatingLabel addclear="1">
              <label for="punishment_card">punishment card</label>
              <input
                name="punishment_card"
                list="punishment_card"
                value={randomFromArray(behavior_cards)}
              />
              <datalist id="punishment_card">
                {behavior_cards.map(name => <option value={name} />)}
              </datalist>
            </WCFloatingLabel>
          </div>
          <footer>
            <button type="submit" class="outline secondary"
              >Generate main story</button
            >
          </footer>
        </form>
      </details>
      <form id="speak">
        <details open>
          <summary>main story</summary>
          <wc-textarea-sizer data-min="20" data-max="500">
            <textarea rows="9" name="text" rows="4"></textarea>
          </wc-textarea-sizer>
        </details>
        <footer>
          <button type="button" class="outline close-dialog">close</button>
          <button type="reset" class="outline">reset</button>
          <button type="submit" id="speak_selection" class="">Speak</button>
        </footer>
      </form>
    </dialog>
  </wc-dialog-wrap>
</Empty>
<script src="../core/girls/index.ts"></script>
<script src="../components/wc-dialog-wrap.ts"></script>
